@import 'variables';
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// Reset bootstrap
@import 'reset';
// Import all style module
@import '~flatpickr/dist/flatpickr.min.css';
// import sample scss with asset
@import 'ads';
// vueselect
@import 'vue-select/src/scss/vue-select.scss';

div#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #42b983;
  align-items: center;
  a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }
  a.router-link-active {
    color: #fff;
    font-weight: bold;
  }
}
